@font-face{
  font-family:'Myriad Pro Regular';
  font-display: auto;
  src:local('Myriad Pro Regular'), url('../fonts/MyriadPro-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Myriad Pro Bold';
  font-display: auto;
  src:local('Myriad Pro Bold'), url('../fonts/Font/MYRIADPRO-BOLD.OTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}