@media (min-width: 1600px) {
  .uk-grid-0-xl {
    margin-left: -0px;
  }
  .uk-grid-0-xl > * {
    padding-left: 0px;
  }
  .uk-grid-0-xl > .uk-grid-margin {
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-0-l {
    margin-left: -0px;
  }
  .uk-grid-0-l > * {
    padding-left: 0px;
  }
  .uk-grid-0-l > .uk-grid-margin {
    margin-top: 0px;
  }
}

@media (min-width: 960px) {
  .uk-grid-0-m {
    margin-left: -0px;
  }
  .uk-grid-0-m > * {
    padding-left: 0px;
  }
  .uk-grid-0-m > .uk-grid-margin {
    margin-top: 0px;
  }
}

@media (min-width: 640px) {
  .uk-grid-0-s {
    margin-left: -0px;
  }
  .uk-grid-0-s > * {
    padding-left: 0px;
  }
  .uk-grid-0-s > .uk-grid-margin {
    margin-top: 0px;
  }
}

.uk-grid-0 {
  margin-left: -0px;
}
.uk-grid-0 > * {
  padding-left: 0px;
}
.uk-grid-0 > .uk-grid-margin {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .uk-grid-8-xl {
    margin-left: -8px;
  }
  .uk-grid-8-xl > * {
    padding-left: 8px;
  }
  .uk-grid-8-xl > .uk-grid-margin {
    margin-top: 8px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-8-l {
    margin-left: -8px;
  }
  .uk-grid-8-l > * {
    padding-left: 8px;
  }
  .uk-grid-8-l > .uk-grid-margin {
    margin-top: 8px;
  }
}

@media (min-width: 960px) {
  .uk-grid-8-m {
    margin-left: -8px;
  }
  .uk-grid-8-m > * {
    padding-left: 8px;
  }
  .uk-grid-8-m > .uk-grid-margin {
    margin-top: 8px;
  }
}

@media (min-width: 640px) {
  .uk-grid-8-s {
    margin-left: -8px;
  }
  .uk-grid-8-s > * {
    padding-left: 8px;
  }
  .uk-grid-8-s > .uk-grid-margin {
    margin-top: 8px;
  }
}

.uk-grid-8 {
  margin-left: -8px;
}
.uk-grid-8 > * {
  padding-left: 8px;
}
.uk-grid-8 > .uk-grid-margin {
  margin-top: 8px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px;
  }
  .uk-grid-10-l > * {
    padding-left: 10px;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px;
  }
  .uk-grid-10-m > * {
    padding-left: 10px;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px;
  }
  .uk-grid-10-s > * {
    padding-left: 10px;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px;
  }
  .uk-grid-30-l > * {
    padding-left: 30px;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px;
  }
  .uk-grid-30-m > * {
    padding-left: 30px;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px;
  }
  .uk-grid-30-s > * {
    padding-left: 30px;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

body {
  font-family: "Myriad Pro Regular", sans-serif;
  background-color: #E8E8E8;
}

@font-face {
  font-family: "Myriad Pro Regular";
  font-display: auto;
  src: local("Myriad Pro Regular"), url("../fonts/MyriadPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro Bold";
  font-display: auto;
  src: local("Myriad Pro Bold"), url("../fonts/Font/MYRIADPRO-BOLD.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.uk-background-oxfordBlue {
  background-color: #2C393F;
}
.uk-background-mySin {
  background-color: #FBB03B !important;
}
.uk-width-xmedium {
  width: 250px;
}

.nav-minHeight, .navTop__navItem, .navTop__nav > li > a, .asideLeft__logo {
  min-height: 50px;
}
@media screen and (min-width: 375px) {
  .nav-minHeight, .navTop__navItem, .navTop__nav > li > a, .asideLeft__logo {
    min-height: calc(50px + 15 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .nav-minHeight, .navTop__navItem, .navTop__nav > li > a, .asideLeft__logo {
    min-height: 65px;
  }
}

.asideLeft {
  width: 0 !important;
}
.openMenu .asideLeft {
  width: 250px !important;
}
.asideLeft__logo img {
  height: 40px;
}
@media screen and (min-width: 375px) {
  .asideLeft__logo img {
    height: calc(40px + 5 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .asideLeft__logo img {
    height: 45px;
  }
}
.asideLeft__Itemmenu, .asideLeft__sub > li > a {
  padding: 12px 15px;
}
.asideLeft__Icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.asideLeft__Icon {
  min-width: 25px;
}
@media screen and (min-width: 375px) {
  .asideLeft__Icon {
    min-width: calc(25px + 5 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .asideLeft__Icon {
    min-width: 30px;
  }
}
.asideLeft__Icon {
  height: 20px;
}
@media screen and (min-width: 375px) {
  .asideLeft__Icon {
    height: calc(20px + 5 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .asideLeft__Icon {
    height: 25px;
  }
}
.asideLeft__txt1, .asideLeft__sub > li > a {
  color: #ffffff;
  line-height: 1.2;
}
.asideLeft__txt1, .asideLeft__sub > li > a {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  .asideLeft__txt1, .asideLeft__sub > li > a {
    font-size: calc(14px + 0.7 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .asideLeft__txt1, .asideLeft__sub > li > a {
    font-size: 14.7px;
  }
}
.asideLeft__nav {
  border-top: 1px solid #E8E8E8;
}
.asideLeft__sub {
  padding: 0 !important;
}
.asideLeft__sub > li {
  border-bottom: 1px solid #E8E8E8;
}
.asideLeft__sub > li > a {
  color: #ffffff !important;
  padding-top: 12px;
  padding-bottom: 12px;
}
.asideLeft__sub > li > a:hover {
  background-color: #151F23;
}
.asideLeft__link {
  position: relative;
  padding: 0 !important;
  border-bottom: 1px solid #E8E8E8;
}
.asideLeft__link:hover, .uk-active .asideLeft__link, .uk-open > .asideLeft__link {
  background-color: #151F23;
}
.asideLeft__link:after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='triangle-down'%3E%3Cg color='%23fff'%3E%3Cpolygon fill='currentcolor' points='5 7 15 7 10 12'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E") !important;
  fill: green;
  position: absolute;
  width: 30px !important;
  height: 100% !important;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.uk-open > .asideLeft__link:after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='triangle-up'%3E%3Cg color='%23fff'%3E%3Cpolygon fill='currentcolor' points='5 13 10 8 15 13'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E") !important;
}

.navTop__right {
  background-color: #2C393F;
}
.navTop__right .uk-navbar-nav > li {
  position: relative;
}
.navTop__right .uk-navbar-nav > li > a {
  text-transform: inherit;
  color: #ffffff;
}
.navTop__right .uk-navbar-nav > li > a {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  .navTop__right .uk-navbar-nav > li > a {
    font-size: calc(14px + 2.8 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .navTop__right .uk-navbar-nav > li > a {
    font-size: 16.8px;
  }
}
.navTop__right__boxImg {
  height: 25px;
}
@media screen and (min-width: 375px) {
  .navTop__right__boxImg {
    height: calc(25px + 3 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .navTop__right__boxImg {
    height: 28px;
  }
}
.uk-parent .navTop__right__link:after {
  width: 14px;
  height: 14px;
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='triangle-down'%3E%3Cg color='%23fff'%3E%3Cpolygon fill='currentcolor' points='5 7 15 7 10 12'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E") !important;
}
@media (min-width: 960px) {
  .uk-parent .navTop__right__link:after {
    right: 0;
  }
}
.navTop__right__link--logout {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  .navTop__right__link--logout {
    font-size: calc(14px + 2.8 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .navTop__right__link--logout {
    font-size: 16.8px;
  }
}
.navTop__left__txt {
  color: #ffffff;
}
.navTop__left__txt {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  .navTop__left__txt {
    font-size: calc(14px + 0.7 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .navTop__left__txt {
    font-size: 14.7px;
  }
}
.navTop__left__txt b {
  font-family: "Myriad Pro Bold", sans-serif;
}
.navTop__left__txt b {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  .navTop__left__txt b {
    font-size: calc(14px + 2.8 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .navTop__left__txt b {
    font-size: 16.8px;
  }
}
.navTop__left__txt1 {
  color: #4d4d4d;
}

.chart__table tr th {
  text-transform: inherit;
}
.chart__table tr th, .chart__table tr td {
  color: #8b8b8b;
  padding: 6px 12px;
}
.chart__table tr th, .chart__table tr td {
  font-size: 13px;
}
@media screen and (min-width: 375px) {
  .chart__table tr th, .chart__table tr td {
    font-size: calc(13px + -0.4 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .chart__table tr th, .chart__table tr td {
    font-size: 12.6px;
  }
}
.chart__txt1 {
  color: #8b8b8b;
}
.chart__txt1 {
  font-size: 13px;
}
@media screen and (min-width: 375px) {
  .chart__txt1 {
    font-size: calc(13px + -0.4 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .chart__txt1 {
    font-size: 12.6px;
  }
}
.chart__item__txt {
  color: #4d4d4d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chart__item__txt {
  font-size: 13px;
}
@media screen and (min-width: 375px) {
  .chart__item__txt {
    font-size: calc(13px + -0.4 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .chart__item__txt {
    font-size: 12.6px;
  }
}
.chart__item__number {
  font-family: "Myriad Pro Bold", sans-serif;
}
.chart__item__number {
  font-size: 18px;
}
@media screen and (min-width: 375px) {
  .chart__item__number {
    font-size: calc(18px + 7.27 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .chart__item__number {
    font-size: 25.27px;
  }
}
.total_cart .chart__item__number {
  color: #ff8000;
}
.inprogress .chart__item__number {
  color: #49A9E1;
}
.success_ship .chart__item__number {
  color: #00C677;
}

.formSearch__txt {
  color: #2C393F;
}
.formSearch__txt {
  font-size: 18px;
}
@media screen and (min-width: 375px) {
  .formSearch__txt {
    font-size: calc(18px + 7.2 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .formSearch__txt {
    font-size: 25.2px;
  }
}
.formSearch__input {
  color: #808080;
}
.formSearch__input {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  .formSearch__input {
    font-size: calc(14px + 0.7 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .formSearch__input {
    font-size: 14.7px;
  }
}
.formSearch__input::placeholder {
  color: #808080;
}
.formSearch__btn {
  text-transform: inherit;
  background-color: #2C393F;
  border-color: #2C393F;
  color: #ffffff;
  font-family: "Myriad Pro Bold", sans-serif;
}
.formSearch__btn {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  .formSearch__btn {
    font-size: calc(14px + 2.8 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .formSearch__btn {
    font-size: 16.8px;
  }
}

.cardBox__tm, .cardBox__body, .cardBox__header {
  padding: 15px 20px;
}
.cardBox__header__txt {
  font-family: "Myriad Pro Bold", sans-serif;
  color: #4d4d4d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.cardBox__header__txt {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  .cardBox__header__txt {
    font-size: calc(14px + 0.49 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .cardBox__header__txt {
    font-size: 14.49px;
  }
}
.cardBox__header__input {
  width: 100px;
}
.cardBox__header__input {
  font-size: 13px;
}
@media screen and (min-width: 375px) {
  .cardBox__header__input {
    font-size: calc(13px + -0.4 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .cardBox__header__input {
    font-size: 12.6px;
  }
}
.cardBox__header__link {
  font-size: 13px;
}
@media screen and (min-width: 375px) {
  .cardBox__header__link {
    font-size: calc(13px + -0.4 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .cardBox__header__link {
    font-size: 12.6px;
  }
}
.cardBox__body__table tbody tr {
  background: #f2f2f2;
}
.cardBox__body__table tbody tr:nth-of-type(2n+1) {
  background: #E8E8E8;
}
.cardBox__body__table tbody tr:hover {
  background: #ffd;
}
.cardBox__body__table tr th {
  text-transform: inherit;
  color: #4d4d4d;
  background-color: #999999;
  padding: 8px 12px;
}
.cardBox__body__table tr th {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  .cardBox__body__table tr th {
    font-size: calc(14px + 0 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .cardBox__body__table tr th {
    font-size: 14px;
  }
}
.cardBox__body__table tr td {
  color: #4d4d4d;
  padding: 8px 12px;
}
.cardBox__body__table tr td {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  .cardBox__body__table tr td {
    font-size: calc(14px + 0 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .cardBox__body__table tr td {
    font-size: 14px;
  }
}
.cardBox__body__table__link {
  color: #ff8000;
}
.cardBox__body__table__link {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  .cardBox__body__table__link {
    font-size: calc(14px + 0 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .cardBox__body__table__link {
    font-size: 14px;
  }
}
.cardBox__body__item1 {
  border: 1px solid #bbbbbb;
  padding: 6px 12px;
}
.cardBox__body__item1__txt {
  color: #8b8b8b;
}
.cardBox__body__item1__txt {
  font-size: 13px;
}
@media screen and (min-width: 375px) {
  .cardBox__body__item1__txt {
    font-size: calc(13px + -0.4 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .cardBox__body__item1__txt {
    font-size: 12.6px;
  }
}
.cardBox__body__item1__total {
  font-family: "Myriad Pro Bold", sans-serif;
}
.cardBox__body__item1__total {
  font-size: 16px;
}
@media screen and (min-width: 375px) {
  .cardBox__body__item1__total {
    font-size: calc(16px + 5 * ((100vw - 375px) / 825));
  }
}
@media screen and (min-width: 1200px) {
  .cardBox__body__item1__total {
    font-size: 21px;
  }
}
.order .cardBox__body__item1__total {
  color: #F7931E;
}
.ship .cardBox__body__item1__total {
  color: #49A9E1;
}
.pay .cardBox__body__item1__total {
  color: #00C677;
}
.unpay .cardBox__body__item1__total {
  color: #D23737;
}