@font-face{
  font-family:'Myriad Pro Regular';
  font-display: auto;
  src:local('Myriad Pro Regular'), url('../fonts/MyriadPro-Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Myriad Pro Italic';
  font-display: auto;
  src:local('Myriad Pro Italic'), url('../fonts/MyriadPro-It.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Myriad Pro Semibold';
  font-display: auto;
  src:local('Myriad Pro Semibold'), url('../fonts/Font/MYRIADPRO-SEMIBOLD.OTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Myriad Pro Bold';
  font-display: auto;
  src:local('Myriad Pro Bold'), url('../fonts/Font/MYRIADPRO-BOLD.OTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Segoe UI';
  font-display: auto;
  src:local('Segoe UI'), url('../fonts/segoe/segoeui.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Segoe UI Italic';
  font-display: auto;
  src:local('Segoe UI Italic'), url('../fonts/segoe/segoeuii.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Segoe UI Light';
  font-display: auto;
  src:local('Segoe UI Light'), url('../fonts/segoe/segoeuil.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Segoe UI Semibold';
  font-display: auto;
  src:local('Segoe UI Semibold'), url('../fonts/segoe/seguisb.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Segoe UI Bold';
  font-display: auto;
  src:local('Segoe UI Bold'), url('../fonts/segoe/segoeuib.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}